#Node.js
node_modules/

#Logs
logs
*.log

#Dependency directories pids
*.pid
*.seed
*.pid.lock


#Optional npm cache directory
.npm

#Optional eslint cache
.eslintcache

#Ignore .env file
.env

#Ignore user-specific files
.DS_Store

